---
import type { VinylType } from "../types/vinyl";

interface Props {
    vinyl: VinylType;
}

const { vinyl } = Astro.props as Props;
---

<div class="flex flex-col w-full">
    <a href={`https://www.discogs.com/release/${vinyl.basic_information.id}`} target="_blank">
        <div class="flex flex-row gap-4 w-full justify-between">
            <div class="inline-flex items-center group">
                <img
                    src={vinyl.basic_information.cover_image}
                    alt={vinyl.basic_information.title}
                    class="size-20 rounded-md object-cover"
                />

                <div class="flex flex-col ml-4">
                    <p class="text-foreground/80">{vinyl.basic_information.title}</p>
                    <p class="text-foreground/60 text-sm font-serif italic">
                        {vinyl.basic_information.artists[0].name}
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>
