---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import config from "../../config";

interface Props {
    title: string;
    description?: string;
    date?: any;
    ogImage?: string;
    keywords?: string[];
}

const { title, description, date, ogImage, keywords } = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <!-- start analytics -->
        <script
            is:inline
            defer
            data-domain="kyle.so"
            src="https://analytics.kyle.so/js/script.outbound-links.js"></script>
        <!-- end analytics -->

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
            integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
            crossorigin="anonymous"
        />
        <script
            is:inline
            defer
            src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
            integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
            crossorigin="anonymous"></script>
        <script
            is:inline
            defer
            src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
            integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
            crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>

        <!-- start meta -->
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="index, follow" />
        <meta
            name="keywords"
            content={config.meta.defaultKeywords.concat(keywords || []).join(", ")}
        />
        <!-- end meta -->

        <!-- start open graph -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title + " - Kyle Dickey"} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={ogImage || "/og-image.png"} />
        <meta property="og:url" content={Astro.url} />
        <!-- end open graph -->

        <!-- start twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@kyledickeyy" />
        <meta name="twitter:creator" content="@kyledickeyy" />
        <meta name="twitter:title" content={title + " - Kyle Dickey"} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={ogImage || "/og-image.png"} />
        <!-- end twitter -->

        <title>{title}</title>

        <ViewTransitions />
    </head>
    <body
        class="m-0
            flex
            min-h-screen
            flex-col
            p-0
            w-full
            items-center
            justify-center"
    >
        <main class="flex flex-grow items-center justify-center w-full">
            <Nav label="Writing" path="/writing" />

            <div class="flex-1 flex justify-center min-h-screen">
                <div class="w-full sm:w-[100%] md:w-[75%] lg:w-[55%] px-4 sm:px-8 py-8">
                    <div class="flex items-start justify-between w-full mt-8">
                        <div class="flex flex-col item-start justify-center">
                            <h1 class="font-serif italic text-2xl">{title}</h1>
                            <p class="text-foreground/60 font-light">
                                {description}
                            </p>
                            <p class="text-foreground/60 font-light text-sm italic font-serif mt-4">
                                <date>
                                    {
                                        date.toLocaleDateString("en-US", {
                                            year: "numeric",
                                            month: "long",
                                            day: "numeric"
                                        })
                                    }
                                </date> by <author>Kyle Dickey</author>
                            </p>
                        </div>
                    </div>

                    <slot />
                </div>
            </div>
        </main>
        <Footer />
    </body>
</html>
