---
import config from "../../config";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
    title: string;
    description?: string;
    ogImage?: string;
    showFooter?: boolean;
    showNavbar?: boolean;
    keywords?: string[];
}

const { title, description, ogImage, showFooter = true, keywords } = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <!-- start analytics -->
        <script defer data-domain="kyle.so" src="https://a.kyle.so/js/script.outbound-links.js"
        ></script>
        <!-- end analytics -->

        <!-- start meta -->
        <meta charset="UTF-8" />
        <meta
            name="description"
            content={description ? description : "Kyle Dickey, Junior Software Engineer"}
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="index, follow" />
        <meta
            name="keywords"
            content={config.meta.defaultKeywords.concat(keywords || []).join(", ")}
        />
        <!-- end meta -->

        <!-- start open graph -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title} />
        <meta
            property="og:description"
            content={description || "Kyle Dickey, Junior Software Engineer"}
        />
        <meta property="og:image" content={ogImage || "/og-image.png"} />
        <meta property="og:url" content={Astro.url} />
        <!-- end open graph -->

        <!-- start twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@kyledickeyy" />
        <meta name="twitter:creator" content="@kyledickeyy" />
        <meta name="twitter:title" content={title} />
        <meta
            name="twitter:description"
            content={description || "Kyle Dickey, Junior Software Engineer"}
        />
        <meta name="twitter:image" content={ogImage || "/og-image.png"} />
        <!-- end twitter -->

        <title>{title}</title>
        <ClientRouter />
    </head>
    <body
        class="m-0
            flex
            min-h-screen
            flex-col
            p-0
            w-full
            items-center
            justify-center"
    >
    </body><main class="flex flex-grow items-center justify-center w-full">
        <slot />
    </main>
    {showFooter && <Footer />}
</html>
